.calc-container{
    position: relative;
    width: 390px;
    height: 844px;
    background-color: black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}


 .calc-container .buttons{
    height: 480px;
    display: flex;
    position: absolute;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 1px;
    padding-left: 18px;
    padding-right: 18px;   
}

.calc-container .buttons li{
    display: flex;
    height: 75px;
    width: 73px;
    background-color: rgb(87, 84, 84);
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: azure;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.calc-container .buttons li:nth-child(1){
    background-color: rgb(214, 79, 79);
    color: black;
}

.calc-container .buttons li:nth-child(20){
    background-color: rgb(93, 213, 93);
    color: black;
}


.calc-container .buttons li:nth-child(2){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(3){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(4){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(8){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(12){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(16){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(17){
    color: rgb(93, 213, 93);
}

.calc-container .buttons li:nth-child(19){
    color: rgb(93, 213, 93);
}


.calc-container .screen{
    height: 220px;
    display: flex;
    position: absolute;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    left: -30px;
    top: 10px;   
}

.calc-container .screen li{
    display: flex;
    background-color: rgb(17, 16, 16);
    height: 120px;
    width: 370px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    align-items: center;
    justify-content: end;
}

.calc-container .screen li:nth-child(1){
    color: azure;
}

.calc-container .screen li:nth-child(2){
    color: rgb(87, 84, 84);
}

.calc-container .middle-container{
    display: flex;
    position: absolute;
    color: aliceblue;
    top: 270px;
    width: 410px;
    height: 50px;
    justify-content: space-between;
    left: -40px;
    
}


.calc-container .middle-container .left{
    display: flex;
    width: 150px;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.calc-container .middle-container .right{
    display: flex;
    list-style-type: none;
}
 
.calc-container .line{
    
    position: absolute;
    background-color: rgb(87, 84, 84);
    width: 355px;
    height: 2px;
    top: 325px;
    left: 18px;
}
